<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


    <head th:replace="fragments :: head"></head>
    <body>
        <header th:replace="~{fragments :: header}"></header>
        <br>
        <div th:replace="~{fragments :: navigation}"></div>
        <div class="background">
            <br>
            <br>
            <div style="center"  class="tableDiv">
                <form method="post">
                    <th:block th:each="wish : ${wishes}">
                        <div class="form-group">

                                <input type="checkbox"
                                       th:name="wishIds"
                                       th:value="${wish.id}"
                                       th:text="${wish.name}">

                        </div>
                    </th:block>
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>
        </div>
    </body>
</html>

