<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}"></head>
<header th:replace="~{fragments :: header}"></header>
<body>
<div th:replace="~{fragments :: navigation}"></div>

<!--<div class="tableDiv">-->
    <th:block th:each="wish : ${wishes}">
    <table class="table table-striped">
        <tr>
            <th>The Wish </th>
            <td th:text="${wish.name}">Candy</td>
        </tr>
        <tr>
            <th>Wish Description </th>
            <td th:text="${wish.description}">A Gigantic Bag</td>
        </tr>
        <tr>
            <th> Where to Find </th>
            <td th:text="${wish.store}">Candy Store</td>
        </tr>
    </table>
    </th:block>

</body>
</html>