<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="~{fragments :: head}"></head>
    <body>
        <header th:replace="~{fragments :: header}"></header>
        <br>
        <div th:replace="~{fragments :: navigation}"></div>
        <div class="background">
            <br>
            <br>
            <div>
                <th:block th:each="wish : ${wishes}" >
                    <div class="tableDiv">
                        <table class="wish-listing">
                         <tr>
                                <th>The Wish: </th>
                                <td th:text="${wish.name}">Candy</td>
                            </tr>
                            <tr>
                                <th> Available at: </th>
                                <td th:text="${wish.store}"> Candy Store </td>
                            </tr>
                            <tr>
                                <th>Wish Description: </th>
                                <td  th:text="${wish.description}">A Gigantic Bag</td>
                            </tr>
                            <td>
                                <a th:href="@{/edit/{id}(id=${wish.id})}">EDIT WISH</a>
                            </td>
                        </table>
                    </div>
                    <br>
                </th:block>
            </div>
        </div>
    </body>

</html>