
body {
    margin: 0;
    height: 100vh; /* Full height of the viewport */
    background-image: url('../images/xmasBackground.jpg'); /* Path to your image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
}


header {
    background-color: #6a994e;
    color: white;
    padding: 5px;
    display : flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border: 4px dotted red;
    border-radius: 10px;
    font-family: sans serif;
    font-size: 100px;
}


label {
    color: white;
}


.form-container {

    text-align: center; /* Center text and inline elements */
    display: flex;
    justify-content: center; /* Center horizontally */
}


.directions {
    margin-top: 20px;
    color: white;
    font-size: 30px;
    font-family: caveat, ariel;
    text-align: center;
}


.outer {
    border: 8px solid #B80000; /* Outer border color and thickness */
    padding: 10px; /* Space between outer and inner borders */
    border-radius: 10px; /* Optional rounding for outer border */
}


.inner {
    border-color: #28A745;/* Inner border color */
    border-style: solid;
    border-width: 4px;
    padding: 20px; /* Space inside inner border */
    border-radius: 8px; /* Optional rounding for inner border */
    background-color: black; /* Inner background color */
}


.buttonContainer {
    text-align: center; /* Center text and inline elements */
    display: flex;
    justify-content: center; /* Center horizontally */

}

.songLyric {
    color: white;
    font-size: 20px;
    text-align: right;
    margin-right: 15px;
    font-family: cursive;

}





/*Make an ERROR class */